@page "/"

@using DIPTERV.Context;
@using DIPTERV.Data
@using DIPTERV.Services;
@using Microsoft.EntityFrameworkCore

@inject SchoolClassService schoolClassService

<PageTitle>Index</PageTitle>

<h1>Üdvözöllek az Órarend Alkalmazásban!</h1>

<h3>Az iskolában található osztályok:</h3>
@if (schoolClasses == null)
{
    <p><em>Még nem töltöttél fel tantárgyfelosztás.</em></p>
}
else
{
    <RadzenDataGrid Data="@schoolClasses" TItem="SchoolClass" AllowColumnResize="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn TItem="SchoolClass" Property="ID" Title="Azonosító" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="SchoolClass" Property="Name" Title="Osztály neve">
                <Template Context="schoolClass">
                    <RadzenText> @String.Concat(schoolClass.Name,". osztály")</RadzenText>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SchoolClass" Property="HeadMaster.Name" Title="Osztályfõnök neve" />

        </Columns>
    </RadzenDataGrid>
}

@code {
    private SchoolClass[]? schoolClasses;
    protected override async Task OnInitializedAsync()
    {
        schoolClasses = await schoolClassService.GetAllSchoolClassesAsync();
    }
}