@page "/teachers"
@using DIPTERV.Context;
@using DIPTERV.Data
@using DIPTERV.Services;
@using Microsoft.EntityFrameworkCore

@inject TeacherService teacherService

<PageTitle>Teachers</PageTitle>


@if (teachers == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <RadzenDataGrid Data="@teachers" TItem="Teacher">
        <Columns>
            <RadzenDataGridColumn TItem="Teacher" Property="ID" Title="Azonosító" />
            <RadzenDataGridColumn TItem="Teacher" Property="Name" Title="Név" />
            <RadzenDataGridColumn TItem="Teacher" Property="CourseNumber" Title="Heti óraszám" />
            <RadzenDataGridColumn TItem="Teacher" Title="Elérhetőség">
                <Template Context="teacher">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(() => ButtonClick(teacher))"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@if (showingBusyDialog)
{
    <TeacherBusy 
        teacher="actTeacher"
        OnOK="OnOK" />
}

@code {
    private Teacher[]? teachers;
    bool showingBusyDialog;
    Teacher actTeacher;

    protected override async Task OnInitializedAsync()
    {
        teachers = await teacherService.GetAllTeachersAsync();
        
    }

    protected void ButtonClick(Teacher teacher)
    {
        actTeacher = teacher;
        showingBusyDialog= true;
    }

    public void OnOK()
    {
        showingBusyDialog = false;
    }
}
