<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Szia, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Kijelentkezés</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Regisztráció</a>
        <a href="Identity/Account/Login">Bejelentkezés</a>
    </NotAuthorized>
</AuthorizeView>
